<section class="flex-container">
  <form #f="ngForm" (ngSubmit)="registrarUsuario(f)">
    <div>
      <mat-form-field>
        <mat-label>Ingrese Nombre</mat-label>
        <input type="text" ngModel name="nombre" required placeholder="Ingrese nombre" matInput>
        <mat-error>Ingrese Nombre</mat-error>
      </mat-form-field>
    </div>
    <div class="caja">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="example@mail.com" ngModel name="email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">El espacio no puede estar en blanco</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">El email es invalido</mat-error>
      </mat-form-field>
    </div> <br>
    <div class="caja">
      <mat-form-field hintLabel="La contraseña debe tener minimo 6 caracteres">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Digite su contraseña" ngModel name="password" required minlength="7">
        <mat-error>Debe tener minimo 6 caracteres</mat-error>
      </mat-form-field>
    </div> <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Guardar</button>
  </form>
</section>
