<section>
  <form>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="example@mail.com">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Digite su contraseña">
    </mat-form-field>
  </form>
</section>

<section id="contenedor">
  <div id="elemento1" class="elemento"></div>
  <div id="elemento2" class="elemento"></div>
  <div id="elemento3" class="elemento"></div>
</section>
